/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
}

/* Ensure the nav element spans the full width */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: to center the items vertically */
    background-color: black;
    width: 100%;
    padding: 10px; /* Optional: Add some padding if needed */
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%; /* Adjust as needed */
}

/* h1 {
    color: white;
    margin: 0;
} */

h2 {
    font-family: 'Bebas Neue', monospace;
    margin: 0 10px; /* Optional: to add some spacing between the links */
    color: white;
}

#akira-logo {
    height: 5em; /* Match the image height to the font size of the <h2> */
}
