#skills-h2 {
    /* margin-top: 3%; */
    padding-top: 3%;
    color: white;
    font-size: 35px;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.table {
    border-collapse: collapse; /* Optional: Adds some styling to the table */
    width: 100%; /* Optional: Adjust width as needed */
    /* border: 1px solid black; */
}

.table td {
    font-family: 'Inconsolata', monospace;
    padding: 25px;
    color: white;
    font-size: 22px;
}

.certificate {
    height: 30%;
    width: 30%;
}

.certificate-box {
    display: flex;
    justify-content: space-evenly;
}

.gitprofile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30;
}

.gitlink {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-section {
    background-color: black;
}

.skill-icons {
    width: 30px; /* Set a fixed width for all icons */
    height: 30px; /* Set a fixed height for all icons */
    vertical-align: middle; /* Align the icon vertically with the text */
    border-radius: 50%;
}
